html {
	--cs-background:#222;
	--cs-hover-background:#272727;
	--cs-header-background:#292929;
	--cs-placeholder-color:rgba(255,255,255,.1);
	--cs-text-color:#d6d6d6;
	--cs-link-color:#609fff;
	--cs-meta-color:#888;
	--cs-comment-chain-color:#333;
	--cs-img-background:#2f2f2f;
	--cs-comment-count-color:#fff;
	--cs-comment-count-border-color:orange;
	--cs-comment-count-color-disabled:#777;
	--cs-code-background:#999;
	--cs-code-color:#000;
	--cs-input-border-color:#666;
	--cs-input-progress-color-error:#aaa;
	--cs-search-progress-bar-color:#7f7f7f;
	--cs-active-color:#c7c7c7;
	--cs-active-text-color:#222;
	--cs-grayscale:grayscale(.6);
	--cs-error-color:#f28b82;
	--cs-text-mark-width:1px;
	--cs-text-mark-color:orange;
	--cs-text-mark-style:dotted;
	--cs-badge-background:#333;
	--cs-badge-background-hover:#444;
	--cs-detached-box-shadow:0 15px 10px -9px rgba(0, 0, 0, 0.2);
	--cs-suggest-box-shadow:1px 6px 8px #1a1a1a;
	--cs-image-shadow:none;
}
html:not([dark]):not([fullscreen]) {
	--cs-background:#f8f8f8;
	--cs-hover-background:#efefef;
	--cs-header-background:#dadada;
	--cs-placeholder-color:rgba(0,0,0,.29);
	--cs-text-color:#111;
	--cs-link-color:#065fd4;
	--cs-meta-color:#606060;
	--cs-comment-chain-color:#ddd;
	--cs-img-background:#eee;
	--cs-comment-count-color:#222;
	--cs-comment-count-border-color:darkcyan;
	--cs-comment-count-color-disabled:#555;
	--cs-code-background:#dfdfdf;
	--cs-input-border-color:#ccc;
	--cs-input-progress-color-error:crimson;
	--cs-search-progress-bar-color:var(--cs-active-color);
	--cs-active-color:#3b7bbF;
	--cs-active-text-color:#fff;
	--cs-grayscale:none;
	--cs-error-color:#f82e1c;
	--cs-text-mark-width:1px;
	--cs-text-mark-color:red;
	--cs-text-mark-style:solid;
	--cs-badge-background:#ccc;
	--cs-badge-background-hover:#bbb;
	--cs-detached-box-shadow:0 15px 10px -9px rgba(0, 0, 0, 0.1);
	--cs-suggest-box-shadow:1px 3px 3px #ddd;
	--cs-image-shadow:0 0 1px 0 #000;
}
[hidden] {
	display:none !important;
}
.CSOnMove {
	pointer-events:none;
	user-select:none;
}
#CSApp {
	display:block;
	background-color:var(--cs-background);
	color:var(--cs-text-color);
	position:fixed;
	z-index:2147483647;
	bottom:0;
	box-shadow:0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.4);
	cursor:default;
	user-select:none;
	font:400 14px/20px Roboto, arial, sans-serif;
	-webkit-font-smoothing:antialiased;
	overflow:visible;
}
#CSApp * {
	background:none;
	color:inherit;
	position:relative;
	box-sizing:border-box;
	margin:0;
	padding:0;
	outline:none !important;
	border:none;
	text-decoration:none;
	font:inherit;
	overflow:hidden;
}
#CSApp view {
	display:block;
}
#CSApp progress-bar-wrap {
	position:absolute;
	width:100%;
	height:2px;
	z-index:1;
}
#CSApp resize-bar {
	display:block;
	position:absolute;
	z-index:2;
}
#CSApp resize-bar[resize=we] {
	top:0;
	height:20px;
	width:100%;
	cursor:move;
}
#CSApp resize-bar[resize=w] {
	left:-4px;
	width:10px;
	height:100%;
	cursor:ew-resize;
}
#CSApp resize-bar[resize=e] {
	right:-4px;
	width:10px;
	height:100%;
	cursor:ew-resize;
}
#CSApp resize-bar[resize=n] {
	top:-4px;
	height:8px;
	width:100%;
	cursor:ns-resize;
	z-index:3;
}
#CSApp resize-bar[resize=nw] {
	left:-6px;
	top:-6px;
	width:16px;
	height:16px;
	cursor:nwse-resize;
	z-index:4;
}
#CSApp resize-bar[resize=ne] {
	right:-6px;
	top:-6px;
	width:16px;
	height:16px;
	cursor:nesw-resize;
	z-index:4;
}
#CSApp scroll-view {
	display:block;
	overflow-y:scroll;
	scrollbar-width:none;
	overscroll-behavior:contain;
}
#CSApp button {
	display:flex;
	align-items:center;
	justify-content:center;
	cursor:default;
}
#CSApp a {
	color:inherit;
	text-decoration:none;
	cursor:pointer;
}
#CSApp a:not([href]) {
	user-select:none;
}
#CSApp li {
	list-style:none;
}
#CSApp input:not(:focus)::placeholder {
	opacity:1;
	transition:opacity 150ms ease-in 100ms;
}
#CSApp input:focus::placeholder {
	opacity:0;
}
#CSApp input,
#CSApp img {
	width:100%;
}
#CSApp svg {
	display:block;
	stroke-width:0;
}
#CSApp svg * {
	fill:currentColor;
	stroke:currentColor;
}
#CSApp [overscroll]::after {
	display:block;
	width:100%;
	height:60%;
	content:"";
}
#CSApp .CSTextSelect {
	user-select:text;
}
#CSApp view-stack {
	display:flex;
	justify-content:center;
}
#CSApp view-stack,
#CSApp view-stack > * {
	background-color:var(--cs-background);
	position:absolute;
	width:-webkit-fill-available;
	height:-webkit-fill-available;
}
#CSApp .CSFlexView {
	display:flex;
	flex-flow:column;
}
#CSApp .CSFlexCenter {
	display:flex;
	flex-flow:column;
	align-items:center;
	text-align:center;
	height:100%;
}
#CSApp .CSStickBottom {
	margin:auto auto 30px;
}
#CSApp .CSNavButton {
	opacity:.5;
}
#CSApp .CSNavButton:hover {
	opacity:.7;
}
#CSApp .CSAppCloseButton {
	position:absolute;
	top:12px;
	right:11px;
	width:32px;
	height:32px;
	padding:5px;
	z-index:1;
}
#CSApp .CSBackButton {
	position:absolute;
	width:24px;
	height:24px;
	top:16px;
	left:15px;
	z-index:1;
}
#CSApp progress-bar {
	display:block;
	position:absolute;
	height:1px;
	width:0;
	background:none;
}
#CSApp progress-bar[state=loading],
#CSApp progress-bar[state=waiting] {
	height:2px;
	background-color:var(--cs-active-color);
}
#CSApp progress-bar[state=loading] {
	animation:progress-active 1s ease infinite;
}
#CSApp progress-bar[state=waiting] {
	animation:progress-waiting 2s linear infinite;
}
#CSApp progress-bar[state=error] {
	width:100%;
	background-color:var(--cs-input-progress-color-error);
}
#CSApp progress-input {
	display:block;
	width:100%;
	margin-top:15px;
	text-align:center;
}
#CSApp progress-input input {
	border-bottom:1px solid;
	padding-bottom:4px;
	font-size:15px;
	text-align:center;
	border-color:var(--cs-input-border-color);
}
#CSApp progress-input progress-bar {
	margin-top:-1px;
}
#CSApp progress-input progress-bar[state=loading] {
	margin-top:-2px;
}
#CSApp progress-input text {
	display:block;
	height:20px;
	padding-top:2px;
	font-size:small;
	color:var(--cs-input-progress-color-error);
}
#CSApp auth img {
	width:325px;
	margin:10px 0;
	filter:var(--cs-grayscale);
}
#CSApp auth a {
	display:block;
	margin:auto auto 30px;
	font-size:small;
	color:var(--cs-link-color);
}
#CSApp auth a:hover {
	text-decoration:underline;
}
#CSApp search > header {
	background-color:var(--cs-header-background);
	display:flex;
	align-items:center;
	height:56px;
	padding-right:46px;
}
#CSApp search > header {
	display:flex;
}
#CSApp search > header > * {
	flex-shrink:0;
}
#CSApp search > header input {
	flex:1;
	height:100%;
	padding-left:20px;
	font-size:16px;
}
#CSApp search > header input::placeholder {
	color:var(--cs-placeholder-color);
	font-size:15px;
}
#CSApp search-icons {
	display:flex;
	min-width:32px;
	margin:0 6px;
}
#CSApp .CSSearchHeaderIcon {
	width:24px;
	height:24px;
	margin:0 2px;
	opacity:.5;
}
#CSApp .CSSearchHeaderIcon:hover {
	opacity:.8;
}
#CSApp .CSSearchHeaderIcon[active] {
	opacity:.8;
}
#CSApp search progress-bar {
	top:55px;
}
#CSApp search progress-bar[state=loading] {
	background-color:var(--cs-search-progress-bar-color);
	height:1px;
	animation:progress-onelap 1s infinite;
}
#CSApp message-view {
	padding:20px;
	text-align:center;
}
#CSApp message-view > * {
	display:inline;
}
#CSApp message-view a {
	text-decoration:underline;
}
#CSApp .CSCommentCount {
	box-sizing:unset;
	width:3ch;
	min-width:3ch;
	background-color:var(--cs-badge-background);
	border-bottom:2px solid var(--cs-comment-count-border-color);
	border-radius:4px 4px 0 0;
	color:var(--cs-comment-count-color);
	padding:2px 5px 0;
	font-size:12px;
	text-align:center;
	opacity:.7;
	transition-duration:250ms;
	transition-property:width, border-color, border-radius, opacity, color;
}
#CSApp .CSCommentCount text {
	color:inherit;
}
#CSApp .CSCommentCount:hover {
	opacity:1;
}
#CSApp .CSCommentCount[disabled] {
	color:var(--cs-comment-count-color-disabled);
	border-color:transparent;
	border-radius:4px;
	opacity:1;
}
#CSApp .CSThread {
	margin-top:16px;
}
#CSApp .CSAuthorName {
	display:inline-block;
	color:inherit;
	font-weight:500;
}
#CSApp .CSCommentTime {
	color:var(--cs-meta-color);
	margin-left:6px;
}
#CSApp .CSCommentTime:hover {
	color:inherit;
}
#CSApp comment {
	display:grid;
	grid-template-rows:auto auto;
	grid-template-columns:auto 1fr;
	padding:0 40px 20px 20px;
	user-select:text;
}
#CSApp comment > side {
	grid-column:1;
	grid-row:1 / -1;
	width:40px;
	height:40px;
	margin-right:16px;
	overflow:visible;
}
#CSApp .user-image {
	display:block;
	background-color:var(--cs-img-background);
	box-shadow:var(--cs-image-shadow);
	width:40px;
	height:40px;
	border-radius:50%;
}
#CSApp [isReply] .user-image {
	width:24px;
	height:24px;
}
#CSApp .user-image img {
	background-size:100%;
	width:100%;
	height:100%;
	opacity:0;
	transition:opacity 300ms;
}
#CSApp .user-image img[loaded] {
	opacity:1;
}
#CSApp comment > :not(side) {
	grid-column:2;
}
#CSApp comment author {
	display:flex;
	height:20px;
	line-height:18px;
	margin-bottom:2px;
	font-size:13px;
}
#CSApp [isuploader] author::after {
	display:block;
	width:13px;
	height:13px;
	margin-top:2px;
	margin-left:4px;
	content:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='%23818181' viewBox='0 0 24 24'><path d='M12,2C6.48,2,2,6.48,2,12s4.48,10,10,10s10-4.48,10-10 S17.52,2,12,2z M9.92,17.93l-4.95-4.95l2.05-2.05l2.9,2.9l7.35-7.35l2.05,2.05L9.92,17.93z'/></svg>");
}
#CSApp comment[isUploader] .CSCommentTime {
	display:none;
}
#CSApp comment[isReply] {
	margin-left:76px;
	padding-left:0;
}
#CSApp comment[isReply] > side {
	width:24px;
}
#CSApp comment[isReply] > text {
	-webkit-line-clamp:2;
}
#CSApp comment[isChained]::before {
	display:block;
	background-color:var(--cs-comment-chain-color);
	position:absolute;
	width:2px;
	height:100%;
	left:11px;
	content:"";
}
#CSApp comment iframe {
	background:#000;
	border-radius:12px;
	width:100%;
	aspect-ratio:16/9;
	margin-top:12px;
}
#CSApp comment > text {
	display:-webkit-box;
	width:auto;
	height:auto;
	white-space:pre-line;
	word-break:break-word;
	-webkit-line-clamp:6;
}
#CSApp comment > text a {
	color:var(--cs-link-color);
}
#CSApp comment > text mark {
	border-bottom-width:var(--cs-text-mark-width);
	border-bottom-color:var(--cs-text-mark-color);
	border-bottom-style:var(--cs-text-mark-style);
}
#CSApp comment reply-count {
	background-color:var(--cs-badge-background);
	width:24px;
	height:17px;
	position:absolute;
	left:50%;
	transform:translateX(-50%);
	bottom:-7px;
	border-radius:3px;
	font-size:11px;
	text-align:center;
}
#CSApp comment reply-count:hover {
	background-color:var(--cs-badge-background-hover);
}
#CSApp comment[detached] {
	background-color:var(--cs-background);
	box-shadow:var(--cs-detached-box-shadow);
	margin:0;
	z-index:1;
}
#CSApp comment[detached] reply-count {
	opacity:0;
	pointer-events:none;
}
#CSApp replies {
	position:absolute;
	inset:0;
	background-color:var(--cs-background);
}
#CSApp replies > header {
	height:56px;
	padding:18px;
	margin-right:2px;
	text-align:center;
	font-size:15px;
}
#CSApp replies scroll-view {
	flex:1;
	padding-top:20px;
}
#CSApp text[trim] {
	-webkit-box-orient:vertical;
	word-break:break-word;
}
#CSApp text[trim]:has(mark) {
	-webkit-line-clamp:none;
}
#CSApp .CSContentView {
	display:flex;
	flex-flow:column;
	width:100%;
	height:100%;
	padding:56px calc(50% - 190px) 0;
	margin:auto;
}
#CSApp .CSContentView > * {
	flex-shrink:0;
}
#CSApp .CSContentView h1 {
	margin-bottom:12px;
	text-align:center;
	font-size:20px;
}
#CSApp .CSContentView h2 {
	margin-bottom:8px;
	font-weight:500;
}
#CSApp .CSContentView p {
	margin-bottom:12px;
}
#CSApp .CSContentView b {
	font-weight:500;
}
#CSApp .CSContentView ul {
	margin-bottom:25px;
}
#CSApp .CSContentView ul p {
	margin-bottom:7px;
}
#CSApp .CSContentView li {
	padding-left:20px;
	margin-bottom:2px;
}
#CSApp .CSContentView code {
	display:inline;
	background-color:var(--cs-code-background);
	color:var(--cs-code-color);
	border-radius:2px;
	letter-spacing:1px;
	padding:2px 5px 2px 6px;
	margin:0 3px;
	line-height:normal;
	font-size:smaller;
	font-family:monospace;
}
#CSApp .CSWiggle {
	animation:wiggle 500ms;
}
#CSApp .CSProgressButton {
	display:grid;
	width:176px;
	height:39px;
	border-radius:20px;
	font-size:14px;
	font-weight:500;
	white-space:nowrap;
	overflow:hidden;
}
#CSApp .CSProgressButton:hover {
	filter:brightness(.9);
}
#CSApp .CSProgressButton:active {
	filter:brightness(.8);
}
#CSApp .CSProgressButton > * {
	display:flex;
	align-items:center;
	justify-content:center;
	color:var(--cs-active-color);
	border:1px solid var(--cs-active-color);
	border-radius:25px;
	position:absolute;
	width:100%;
	height:100%;
	transition:filter 200ms;
}
#CSApp .CSProgressButton > :last-child {
	border:none;
	border-top-right-radius:0;
	border-bottom-right-radius:0;
	color:var(--cs-active-text-color);
	background-color:var(--cs-active-color);
}
#CSApp .CSProgressButton > ::after {
	display:block;
	position:absolute;
	left:34px;
	content:attr(label);
}
#CSApp .CSCommandsView ul {
	margin-bottom:15px;
	padding-left:27px;
}
#CSApp .CSCommandsView li {
	margin-bottom:10px;
	padding-left:5px;
	list-style:disc;
	overflow:visible;
}
#CSAp .CSCommandsView code {
	padding:2px 4px 1px 5px;
	letter-spacing:.1px;
}
#CSApp shortcut {
	display:grid;
	grid-template-columns:1fr 1fr;
	margin-bottom:4px;
}
#CSApp shortcut title {
	display:block;
	grid-row:span 2;
	width:200px;
	margin-top:7px;
}
#CSApp shortcut input {
	background-color:var(--cs-badge-background);
	padding:2px 10px;
	border-radius:3px;
	height:34px;
	cursor:default;
	letter-spacing:1px;
	text-align:center;
	text-overflow:ellipsis;
}
#CSApp shortcut input:hover {
	filter:brightness(.95);
}
#CSApp shortcut input:focus {
	padding-bottom:0;
	border-bottom:2px solid #3b7bbF;
	border-bottom-left-radius:0;
	border-bottom-right-radius:0;
	filter:brightness(.95);
}
#CSApp shortcut error {
	display:block;
	order:2;
	height:20px;
	font-size:12px;
	color:var(--cs-error-color);
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	text-align:center;
}
#CSApp shortcut error:not(:empty) + input {
	border-bottom-color:var(--cs-error-color);
}
#CSApp .CSBasicView {
	display:flex;
	flex-flow:column;
}
#CSApp .CSBasicView > * {
	flex-shrink:0;
}
#CSApp .CSBasicView > title {
	display:block;
	height:56px;
	padding:18px;
	font-size:15px;
	margin-right:2px;
	text-align:center;
}
#CSApp update {
	display:block;
	padding:10px 20px;
	border-left:3px solid transparent;
}
#CSApp update:hover {
	background-color:var(--cs-hover-background);
}
#CSApp update[new] {
	border-left-color:var(--cs-link-color);
}
#CSApp update header {
	margin-bottom:3px;
	font-weight:500;
}
#CSApp .CSChangelogView p {
	margin-bottom:20px;
}
#CSApp .CSChangelogView ul {
	margin-bottom:15px;
}
#CSApp suggest-view:empty {
	display:none;
}
#CSApp suggest-view {
	display:block;
	background-color:var(--cs-background);
	box-shadow:var(--cs-suggest-box-shadow);
}
#CSApp suggest-view > * {
	display:block;
	padding:11px 16px 9px;
	border-left:3px solid transparent;
}
#CSApp suggest-view > *[selected] {
	background-color:var(--cs-hover-background);
	border-left-color:var(--cs-active-color);
}
#CSApp suggest-view > * > detail {
	color:var(--cs-meta-color);
	margin-top:2px;
	font-size:small;
}
#CSApp .CSPillButton {
	background-color:var(--cs-active-color);
	color:var(--cs-active-text-color);
	height:39px;
	border-radius:20px;
	padding:0 25px;
	font-size:14px;
	font-weight:500;
}
#CSApp .CSPillButton:hover {
	filter:brightness(.9);
}
#CSApp .CSPillButton:active {
	filter:brightness(.8);
}
#CSApp .CSContact content {
	flex:1;
}
#CSApp .CSContact scroll-view {
	width:100%;
	height:100%;
}
#CSApp .CSContact scroll-view:has(> :only-child)::after {
	content:"Thank you, you will get notified upon response!";
	color:var(--cs-meta-color);
	display:block;
	margin-top:20px;
	font-size:13px;
	text-align:center;
	animation:fadein 300ms;
}
#CSApp .CSContact .CSIntro {
	margin-top:20px;
	text-align:center;
}
#CSApp .CSContact .CSIntro h1 {
	margin-bottom: 12px;
	font-size: 20px;
}
#CSApp .CSContact .CSIntro h2 {
	margin-bottom:12px;
	font-size:14px;
}
#CSApp .CSContact .CSIntro img {
	width:150px;
	margin:5px 0;
}
#CSApp .CSContactMessage {
	display:block;
	padding:15px 20px 0;
}
#CSApp .CSContactMessage content {
	display:inline-grid;
	padding:10px 12px 9px;
	background-color:var(--cs-header-background);
	border-radius:6px;
	margin-right:50px;
}
#CSApp .CSContactMessage[isUser] content {
	float:right;
	margin-right:0;
	margin-left:50px;
}
#CSApp .CSContactMessage[isUser] name {
	display:none;
}
#CSApp .CSContactMessage header {
	display:flex;
}
#CSApp .CSContactMessage name {
	margin-bottom:2px;
	font-size:13px;
	font-weight:500;
}
#CSApp .CSContactMessage time {
	color:var(--cs-meta-color);
	text-align:right;
	font-size:smaller;
}
#CSApp .CSContactMessage text {
	white-space:pre-line;
	word-wrap:break-word;
	user-select:text;
}
#CSApp .CSContact footer {
	display:flex;
	justify-content:center;
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	padding:0 20px 20px;
	max-height:33%;
}
#CSApp .CSContact textarea {
	background-color:var(--cs-header-background);
	flex:1;
	border-radius:20px;
	min-height:40px;
	padding:10px 20px;
	resize:none;
	field-sizing:content;
}
@keyframes fadein {
	from {
		opacity:0;
	}
	to {
		opacity:1;
	}
}
@keyframes wiggle {
	10%, 90% {
		transform:translate3d(-1px, 0, 0);
	}
	20%, 80% {
		transform:translate3d(4px, 0, 0);
	}
	30%, 50%, 70% {
		transform:translate3d(-6px, 0, 0);
	}
	40%, 60% {
		transform:translate3d(6px, 0, 0);
	}
}
@keyframes progress-onelap {
	0%		{ left:0%; width:0% }
	50%		{ left:0%; width:100% }
	100%	{ left:100%; width:0% }
}
@keyframes progress-active {
	0%		{ left:0%; width:0% }
	25%		{ left:0%; width:33% }
	75%		{ left:33%; width:60% }
	100%	{ left:100%; width:50% }
}
@keyframes progress-waiting {
	0%		{ left:-33%; width:33% }
	100%	{ left:100%; width:33% }
}